version: 2.1

.release_branches: &release_branches
  filters:
    branches:
      only:
        - main
        - stable

workflows:
  version: 2
  main:
    jobs:
      - test:
          name: test-php-7.2
          context:
            - github-credentials
            - dockerhub-credentials
          php: "7.2"
          phpunit: "7.5"
          mysql: "5.7.34"

      - test:
          name: test-php-8.1
          context:
            - github-credentials
            - dockerhub-credentials
          php: "8.1"
          phpunit: "9.5.10"
          mysql: "8.0.25"

      - approve_release:
          name: approve-release
          <<: *release_branches
          type: approval
          requires:
            - test-php-7.2
            - test-php-8.1

      - release:
          name: release
          <<: *release_branches
          context:
            - dockerhub-credentials
            - github-credentials
            - npm-credentials
          requires:
            - approve-release

      - sync-main-branch:
          name: sync-main-branch
          context:
            - github-credentials
          filters:
            branches:
              only:
                - stable
          requires:
            - release




jobs:
  test:
    parameters:
      php:
        description: The PHP version
        type: string
      mysql:
        description: The MySQL version
        type: string
      phpunit:
        description: The phpunit version
        type: string
    docker:
      - image: cimg/php:<<parameters.php>>
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
      - image: mysql:<<parameters.mysql>>
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
        environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: processgraphql
          MYSQL_USER: processgraphql
          MYSQL_PASSWORD: processgraphql
    steps:
      - checkout

      - run:
          name: Install Dependencies
          command: |
            rm composer.lock
            composer config http-basic.github.com dadish ${GH_TOKEN}
            composer require phpunit/phpunit ^<<parameters.phpunit>> --dev
            composer update --with-all-dependencies
            composer install

      # Our primary container isn't MYSQL so run a sleep command until it's ready.
      - run:
          name: Waiting for MySQL
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1

      - run:
          name: Run Tests
          command: |
            composer exec -v "phpunit --bootstrap test/bootstrap.php --exclude-group performance test"

  release:
    docker:
      - image: dadish/processgraphql-primary:0.6.0
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            npm install
            rm -rf vendor
            composer install --no-dev
      - run:
          name: Release
          command: npm run release

  sync-main-branch:
    docker:
      - image: cimg/base:2021.07
    steps:
      - checkout
      - run:
          name: Merge stabe to main
          command: |
            git pull origin stable
            git checkout main
            git pull origin main
            git merge stable
            git push -q https://${GH_TOKEN}@github.com/dadish/processgraphql.git main
